<!--footer>
  The content for this site is
  <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>.
  The <a href="https://github.com/edsonmichaque/edsonmichaque.com">code for this site</a>
  is <a href="https://opensource.org/licenses/MIT">MIT</a>.
  <div style="color: transparent">
    This is a honeypot:
    <a href="mailto:b62c5a48@cmpwn.com" style="color: transparent">
      b62c5a48@cmpwn.com
    </a>
    Please do not use it unless you are a spambot.
  </div>
</footer-->


<footer>
  <div class="contact">
    <p style="color: #666;">Edson Michaque</p>
  </div>
  <div class="contact">
    <ul>
      <li><a href="https://github.com/edsonmichaque/">github.com/edsonmichaque</a></li>
      <li><a href="https://linkedin.com/in/edsonmichaque/">linkedin.com/in/edsonmichaque</a></li>
    </ul>
  </div>
  <div class="rss">
    <a href="https://feeds.feedburner.com/edsonmichaque.com">
      <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
    </a>
  </div>
</footer>
